.table {
  font-size: 0.875rem;
  line-height: 1.43;
}

.table-header {
  position: sticky;
  top: 0;

  font-weight: 500;
  z-index: 2;
}

.table-header .table-row--groups {
  height: 24px;
}

.table-header .table-row--headers {
  height: 60px;
}

.table-header .table-cell {
  background-color: #f5f5f5;
  justify-content: center;
}

.table-row {
  display: flex;
  flex-direction: row;
  width: max-content !important;
}

.table__show-perspective .table-row__in-perspective .table-column--date--perspective-icon,
.table__show-perspective .table-row--headers .table-column--date .MuiSvgIcon-root {
  visibility: visible;
}

.table-row--headers .table-column--date .MuiSvgIcon-root {
  visibility: hidden;
  font-size: 14px;
  margin-right: 4px;
}

.table-row--headers .table-column--date {
  cursor: pointer;
}

.table__show-perspective .table-row--headers .table-column--date,
.table__show-perspective .table-row__in-perspective .table-column--date {
  background-color: yellow;
}

.table-row__now .table-column--date {
  background-color: rgb(204, 230, 255);
}

.table-cell {
  background-color: white;

  display: flex;
  align-items: center;
  flex-shrink: 0;

  border-right: 1px solid rgba(224, 224, 224, 1);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 6px 16px;
}

.table-cell--empty {
  background-color: white;
}

.table-column--date {
  position: sticky;
  left: 0;
  justify-content: left;
  width: 120px;
  z-index: 1;
}

.table-body .table-column--date {
  cursor: pointer;
}

.table-column--date--perspective-icon {
  visibility: hidden;
  display: flex;
  width: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.table--hidden-icon {
  fill: grey !important;
  width: 14px !important;
}

.table-column--date--perspective-icon .MuiSvgIcon-root {
  font-size: 14px;
}

.table-column--date_year {
  margin-left: 10px;
  width: 32px;
  flex-grow: 0;
  flex-shrink: 0;
}

.table-column--date_month {
  margin-left: 10px;
}

.table-column--age {
  justify-content: center;
  width: 40px;
}

.hide-ages .table-column--age {
  display: none;
}

.table-column--total,
.table-column--account-balance {
  width: 110px;
  justify-content: right;
}

.table-header .table-cell,
.table-column--account-balance {
  padding: 0;
}

.table-header .table-column--account-balance:hover {
  cursor: pointer;
}

.account-breakdown--date,
.income-breakdown--date {
  list-style-type: '';
  font-weight: bolder;
  text-decoration: underline;
}

.account-breakdown,
.income-breakdown {
  list-style-position: inside;
  padding-left: 0;
}

.account-breakdown--existing,
.income-breakdown--existing {
  list-style-type: '';
}

.account-breakdown--add,
.income-breakdown--add {
  color: rgb(220, 255, 220);
  list-style-type: '+ ';
}

.account-breakdown--subtract,
.income-breakdown--subtract {
  color: rgb(255, 220, 220);
  list-style-type: '– ';
}

.account-breakdown--total,
.income-breakdown--total {
  list-style-type: '= ';
}

.table-column--total {
  font-weight: 600;
}

.table-column--total {
  border-left: 1px solid rgba(224, 224, 224, 1);
}

.table-header .table-column--total {
  font-weight: 500;
  border-left: 0;
}

.table-column--account-balance .MuiButton-root {
  height: 100%;
  width: 100%;
  justify-content: right;
  border-radius: 0;
}

.table-column--account-balance .MuiButton-root .MuiButton-startIcon {
  margin-right: auto;
}

.table-column--account_edit-balance.MuiButton-root,
.table-column--account_add-balance.MuiButton-root {
  box-shadow: none !important;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.table-column--account_edit-balance.table-column--account_edit-balance--up.MuiButton-root {
  background-color: rgba(179, 223, 179, 0.5)
}

.table-column--account_edit-balance.table-column--account_edit-balance--down.MuiButton-root {
  background-color: rgba(223, 179, 179, 0.5)
}

.table-column--account_edit-balance.MuiButton-root,
.table-column--account_edit-balance.MuiButton-root:hover,
.table-column--account_add-balance.MuiButton-root:hover {
  background-color: rgba(25, 118, 210, 0.1);
}

.table-column--account_add-balance.MuiButton-root {
  background-color: white;
}